<nav-dir></nav-dir>
 <section class='container about-container'>
   <div class="row about-row">
    <div class="col s12 m12 l12 #fff white left">
      <h1 class='abt-header'>About Me</h1>
      <p>
        First and foremost, I live for adventure. I love backpacking and rockclimbing.
        My background in geology and environmental science has given me an appreciation
        for the natural world that I cannont explain. A few of my favorite places are:
        White River National Forest, Colorado; Yosemite National Park, California; and
        Big Bend National Park, Texas. I am enticed by both the mountains
        and the ocean. Basically anywhere outside is the place for me.
      </p>
      <br/>
      <p>
        Secondly, I am a creator. I have been learning to code and build websites for about
        7 months now, and I haven't ever studied a subject that has pulled me in so quickly.
        One of my greatest strengths is adaptability. I respond to new envioronments very seamlessly,
        and I love that programming gives me such a vast opportunity to learn so man badass things.
        Each day presents a new opportunity to grow, challenge myself, put myself in uncomfortable situations,
        and ocme out on the other end a stronger person and a better programmer and developer.
      </p>
      <br />
      <p>
        I am a fullstack JavaScript developer. I love solving JavaScript logic and toy problems and building responsive websites from
        the ground up. JavaScript is truly a fun and powerful language that can do SO MUCH!
      </p>
    </div>
    <img class="col s12 m12 l5 pic z-depth-4 NA transparent" src='../images/zoo.jpg' />
    <!-- <div carousel class="col s12 m12 l12">
      <a class="carousel-item" href="javascript:void(0);"><img src="../images/acl.jpg"></a>
      <a class="carousel-item" href="javascript:void(0);"><img src="../images/skydive.jpg"></a>
      <a class="carousel-item" href="javascript:void(0);"><img src="../images/zoo.jpg"></a>
      <a class="carousel-item" href="javascript:void(0);"><img src="../images/donuts.jpg"></a>
      <a class="carousel-item" href="javascript:void(0);"><img src="../images/about.png"></a>
    </div> -->
  </div>
 </section>
