<nav-dir></nav-dir>
<div id='dallas-pic'></div>
<div class='contact-container'>
  <div class="row contact-row">
    <h2>Let's get in touch!</h2>
     <div class="col s12 m12 l6">
       <p>
         I am currently available for full-time, freelance,  and/or contract work!
         Drop me a line, and let me know about your current project or idea!
         I would love to Learn about it!
       </p>
       <i class="small material-icons">email</i><h6>hunterharrisondev@gmail.com</h6>
       <i class="small material-icons">phone</i><h6>713-248-5039</h6>
     </div>
     <h5>Or you can always stalk me here:</h5>
     <div class="col s12 m12 l6 contact-left">
       <a class='social-link' href='https://www.github.com/hscottharrison'>
         <img src='https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png' />
         <p>LinkedIn</p>
       </a>
       <a class='social-link' href='https://www.github.com/hscottharrison'>
         <img src='../images/github-original.svg' />
         <p>Github</p>
       </a>
       <a class='social-link' href='https://twitter.com/hunterscotthar1'>
         <img src='../images/twitter-original.svg' />
         <p>Twitter</p>
       </a>
       <a class='social-link' href='https://www.facebook.com/hunter.harrison.182'>
         <img src='../images/facebook-plain.svg' />
         <p>Facebook</p>
       </a>
     </div>
   </div>
</div>
