<div class="background-image"></div>
<main>
  <nav-dir></nav-dir>
  <div class='intro-wrapper'>
    <div class="row center-align">
      <div class="col s12">
        <span class="flow-text">
          <h2 class='home-header' typewrite type-delay="125" text="['I\'m a Creator.','I\'m a Developer.','I\'m Hunter Harrison.']"></h2>
        <p class='home-text'>
          A web developer living in Dallas, Texas.
        </p>
        <p class='home-text smaller-text'>
          Have a look around! Let me know what you think!
        </p>
        </span>
      </div>
    </div>
  </div>
</main>
<script>
angular.element(document).ready(function(){
  setTimeout(function(){
    angular.element('.home-text').css('display', 'block')
  }, 10000)
})
</script>
