<nav class="#607d8b blue-grey">
   <div class="nav-wrapper">
     <a ui-sref="home" class="brand-logo">HUNTER HARRISON</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a ui-sref="about">About Me</a></li>
       <li><a ui-sref='work'>Work</a></li>
       <li><a href="collapsible.html">Contact</a></li>
     </ul>
     <div class='dropdown-container'>
       <!-- Dropdown Trigger -->
      <a class='dropdown-button hide-on-large-only #455a64 blue-grey darken-2' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
        <i class="material-icons valign-wrapper">menu</i>
      </a>
      <!-- Dropdown Structure -->
      <ul id='demoDropdown' class='dropdown-content'>
          <li><a href="javascript:void(0);">Home</a></li>
          <li><a href="javascript:void(0);">About</a></li>
          <li><a href="javascript:void(0);">Experience</a></li>
          <li><a href="javascript:void(0);">Work</a></li>
          <li><a href="javascript:void(0);">Contact</a></li>
      </ul>
     </div>
   </div>
 </nav>
