<nav-dir></nav-dir>
<div class='work-container row NA transparent'>
  <section class='work-left right col s12 m12 l12'>
    <h3>Personal Projects:</h3>
    <div class='project-wrapper'>
      <div class='project'>
        <h5>FamGram</h5>
        <a>
            <span class="caption">
              FamGram is a web-based photo-sharing app designed to be a way for
              extended familiies to stay connected and share photos without any
              other clutter.<br />
              Technologies used:
              <ul>
                <li>HTML</li>
                <li>CSS/Materialize CSS</li>
                <li>AngularJS</li>
                <li>NodeJS</li>
                <li>Express</li>
                <li>PostgreSQL</li>
              </ul>
            </span>
            <img class='image' style='height: 200px' src='https://media.licdn.com/media-proxy/ext?w=800&h=800&f=n&hash=wykZoe%2FV7RzonQAZAr42AkjcN%2FI%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0Vinkhwfjw8177yE41y87UNCVordEGXyD3u0qYrdf3btecGNL7GguQ8UfX4clARmKfKgRjLnD5e6KYPqLNpyjsXlcI24ZxUBbFImi24' />
        </a>
        <div class='project-links'>
          <a href='https://www.youtube.com/watch?v=lVa9KjelNL4'>Video Walk-through</a>
          <a href='http://github.com/hscottharrison/fam_gram'>Github</a>
        </div>
      </div>
      <div class='project'>
        <h5 class='worktitle'>Rain or Shine</h5>
        <a>
            <span class="caption">
              Rain Or Shine is a weather app that I built using AngularJS.
              The angular service calls the Weather Underground API for the
              data. I also implemented ui-router for the multiple views. All of
              the styling is custom. The original weather underground icons for displaying
              conditions have also been changed, and the icons in the project are custom as well.

            </span>
            <img class='image' style='height: 200px' src='../images/rain-or-shine.png' />
        </a>
        <div class='project-links'>
          <a href='https://www.youtube.com/watch?v=TFjtVrM1aIY'>Video Walk-through</a>
          <a href='http://github.com/hscottharrison/rain-or-shine'>Github</a>
        </div>
      </div>
      <div class='project'>
        <h5>Hunter's Funky Etch-a-Sketch</h5>
        <a>
            <span class="caption">
              Hunter's Funky Etch-A-Sketch was the first project that I ever built.
              It is built using HTML, CSS, JavaScritp and JQuery. The idea for this
              project came from the online learning platform www.odinproject.com
            </span>
            <img class='image' style='height: 200px' src='../images/etch.png' />
        </a>
        <div class='project-links'>
          <a href="http://huntersharrison.com/TOP_etchasketch/">Live Site</a>
          <a href='http://github.com/hscottharrison/TOP_etchasketch'>Github</a>
          <a>Video walk-through</a>
        </div>
      </div>
      <!-- New Project Template
      <div class='project'>
        <a href="#">
          <span class="caption">testing</span>
          <img class='image' style='height: 200px' src='../images/rain-or-shine.png' />
        </a>
      </div>
       -->
    </div>
  </section>
  <section class='work-right col s12 m12 l12'>
    <h3>Skills:</h3>
    <h5 class='growing-list'>The list is always growing</h5>
    <div class='icons-wrapper' style='display: flex;
    flex-wrap: wrap;'>
    <div class='icon-wrapper'>
      <img class='work-icon' src='http://stonyvin.net/content/images/2017/02/reactjsicon.png' />
      <h6>React</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/386/thumb/redux%281%29.png?1496435888' />
      <h6>Redux</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='../images/angularjs.svg' />
      <h6>AngularJS</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='../images/javascript-plain.svg' />
      <h6>JavaScript</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='../images/jquery.svg' />
      <h6>JQuery</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='../images/html5-plain.svg' />
      <h6>HTML5</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='../images/css.svg' />
      <h6>CSS3</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='../images/nodejs.svg' />
      <h6>Node.js</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='https://s3-eu-west-1.amazonaws.com/jssolutions/Article_Photo/home_page/logo/tech-logos/express.png' />
      <h6>ExpressJS</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/001/053/thumb/postgres.png?1499963641' />
      <h6>PostgreSQL</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='http://freevector.co/wp-content/uploads/2010/05/29165-sql-file-format-symbol-200x200.png' />
      <h6>SQL</h6>
    </div>
    <div class='icon-wrapper'>
      <img class='work-icon' src='http://4.bp.blogspot.com/-L5L4m9kQdLc/VI66JWp7vBI/AAAAAAAADOQ/5icYj8N-zeo/s1600/Amazon_Glacier.svg.png' />
      <h6>Amazon S3</h6>
    </div>
      <div class='icon-wrapper'>
        <img class='work-icon' src='http://d2.alternativeto.net/dist/icons/bootstrap_99840.png?width=200&height=200&mode=crop&upscale=false' />
        <h6>Bootstrap</h6>
      </div>
      <div class='icon-wrapper'>
        <img class='work-icon' src='../images/git.svg' />
        <h6>Git</h6>
      </div>
      <div class='icon-wrapper'>
        <img class='work-icon' src='../images/gulp.svg'  />
        <h6>Gulp</h6>
      </div>
    </div>
