<nav-dir></nav-dir>
<div class='work-container row NA transparent'>
  <section class='work-left right col s12 m6 l6'>
    <h3>Projects I've Completed:</h3>
    <h5 class='worktitle'>Rain or Shine</h5>
    <a href="#">
        <span class="caption">
          Rain Or Shine is a weather app that I built using AngularJS.
          The angular service calls the Weather Underground API for the
          data. I also implemented ui-router for the multiple views. All of
          the styling is custom. The original weather underground icons for displaying
          conditions have also been changed, and the icons in the project are custom as well.
          </thead>
        </span>
        <img class='image' style='height: 200px' src='../images/rain-or-shine.png' />
    </a>
    <h5>Hunter's Funky Etch-a-Sketch</h5>
    <a href="#">
        <span class="caption">
          Hunter's Funky Etch-A-Sketch was the first project that I ever built.
          It is built using HTML, CSS, JavaScritp and JQuery. The idea for this
          project came from the online learning platform www.odinproject.com
        </span>
        <img class='image' style='height: 200px' src='../images/etch.png' />
    </a>
    <a href="#">
        <span class="caption">testing</span>
        <img class='image' style='height: 200px' src='../images/rain-or-shine.png' />
    </a>
  </section>
  <section class='work-right col s12 m12 l6'>
    <h3>Tools that I like to use:</h3>
    <img class='work-icon' src='../images/css.svg' />
    <img class='work-icon' src='../images/html5-plain.svg' />
    <img class='work-icon' src='../images/javascript-plain.svg' />
    <img class='work-icon' src='../images/nodejs.svg' />
    <img class='work-icon' src='../images/jquery.svg' />
    <img class='work-icon' src='../images/angularjs.svg' />
    <img class='work-icon' src='../images/git.svg' />
    <img class='work-icon' src='../images/gulp.svg'  />
