*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
main{
  background: url('https://s3.us-east-2.amazonaws.com/portfoliohunter/home.jpg') center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
nav{
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 9999;
}
.intro-wrapper{
  height: calc(100vh - 65px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row{
  color: #fff;
  background: rgba(119, 136, 153, .9);
  width: 50%;
  min-height: 200px;
  border: 2px solid #fff;
  border-radius: 4px;
}
.home-text{
  display: none
}
.smaller-text{
  font-size: 14px;
}
.dropdown-content{
  max-width: 60px;
}
