#home {
  background-color: #e0e3dc;
  background: url('../images/home.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner {
	height: 30%;
	width: 50%;
	background-color: #cfd186;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 0 3em;
	opacity: 0.9;
}

.banner-title {
	font-size: 30px;
	color:#0A3D0B
}

.banner-text {
	color:#0A3D0B;
	padding-top: 1.5em;
}

@media screen and (max-width: 900px) {
	.banner {
    width: 100%;
	}
}
