* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5em;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #e0e3dc; */
  font-family: Montserrat;
}

.page {
	/* background-color: #e0e3dc; */
  min-height: 100vh;
}

.icon-white {
  color: #fff;
}