* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5em;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #e0e3dc; */
  font-family: Montserrat;
}

.page {
	/* background-color: #e0e3dc; */
  min-height: 100vh;
  border-bottom: 0.35em solid #e3655b;
}

.page-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

@media screen and (max-width: 900px) {
  .page-header-wrapper {
    height: 15%;
  }
}