* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-color: #e0e3dc; */
  font-family: Montserrat;
}

nav {
  margin-top: 5em;
  margin-bottom: 4em;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}

.nav-item-list {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5em;
  padding: 0em 6em;
  color: #5d5d5d;
}

.nav-item {
  margin: 0em 1em;
  font-size: 20px;
  padding: 0.5em;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.nav-item:hover {
  background-color: #e5e5e5;
  opacity: 0.5;
}

.active {
  background-color: #30981c;
  color: #fff;
}
