a {
  display: inline-block;
  position: relative;
  text-align: center;
}
.work-container{
  width: 100%;
}
.row h5{
  color: #000;
}
.row h3{
  color: #000;
}
.growing-list{
  color: #000
}
.work-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.project{
  display: inline-block;
  text-align: center;
}
.project-links{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.project-links a{
  color: #607d8b;
}
.project-links a:hover{
  text-decoration: underline;
}
.project-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.work-right img{
  margin: 30px;
  height: 150px;
  width: 150px;
}
.caption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333; /* for browsers that don't understand rgba() notation */
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  line-height: 1.1em;
  height: 200px;
  letter-spacing: 1px;
  padding: 10px;
}
a:hover .caption {
  display: block;
}​
div.icons-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.icon-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.icon-wrapper h6{
  color: #000;
}
